<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1 style="text-align: center;" >Predict Housing Price Analysis</h1>
  <p style="text-align:center;"><img src="https://assets.weforum.org/article/image/large_15gAQdddPzO5Cn18bJ--4zQTUHrfpVxWQbAQ6jhvTSc.jpg"></p>
     <!-- Main Input For Receiving Query to our ML -->
    <form style="text-align: center;" action="{{ url_for('predict')}}"method="post">
    	<input style="text-align: center; width:280px;" type="text" name="Rooms" placeholder="Enter number of Rooms" required="required" />
      <!-- <input type="text" name="test_score" placeholder="Test Score" required="required" /> -->
    <!--<input type="text" name="interview_score" placeholder="Interview Score" required="required" />-->

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   <h3 style="text-align: center;">{{ prediction_text }}</h3>

 </div>


</body>
</html>
